@import "tailwindcss";

body{
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f5f7fb;
}

*{
  box-sizing:border-box;
}
button{
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

table{
border-collapse:collapse;
}

body{
background:#f4f7fb;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#3e9253;
border-radius:20px;
}

body{
background:linear-gradient(135deg,#eef4ff,#f9fbff);
}

input,textarea{
transition:.3s;
}

input:focus,
textarea:focus{
border-color:#33c044;
box-shadow:0 0 10px rgba(51, 138, 85, 0.25);
}
html{
scroll-behavior:smooth;
}

body{
background:#eef3fb;
}

button{
transition:.3s;
cursor:pointer;
}

button:hover{
transform:translateY(-2px);
}

input,
textarea{
transition:.3s;
}

input:focus,
textarea:focus{
box-shadow:0 0 10px rgba(37, 235, 63, 0.2);
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background :#275a49;
border-radius:20px;
}